html {
  font-size: 18px;
}

/* Give your page a fun background color */
body {
  background-color: #0F0F0F;
  margin: 0 auto;
}
/* Make the header and footer a different color from the background */
header {
  background-color: #466995;
  width: 100%;
}
footer {
  background-color: #466995;
  text-align: center;
  height: 100px;
}
.imagebox {
  position: relative;
  text-align: center;

}
/* Align the h1 containing your name in the center of the header*/
h1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #0F0F0F;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  font-weight: 300;
}
/* Make your p tag a different color and italic */
p {
  color: #333;
  font-style: italic;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
}
/* Put a border around your image */
img {
  border: 5px solid #66ffcc;
}
img:hover {

}

#camelback {
  width: 85%;
}
/* Change the font-family of your list */
.facts {
  position: absolute;
  top: 20%;
  left: 29%;
  transform: translate(-20%, -20%);
  background-color: rgba(0, 0, 0, .6);
}
ul {
  margin: 30px auto;
  padding: 0 20px;
  text-align: left;
}
li {
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  display: block;
}
